@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-gray-800;
}

body,
html {
  @apply bg-white dark:bg-[#161616];
  scroll-behavior: smooth;
  @apply selection:text-white selection:bg-slate-700;
}


body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  @apply bg-white dark:bg-style-background
}

body::-webkit-scrollbar-thumb {
  @apply bg-slate-700;
  border-radius: 100px;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
  cursor: pointer;
}

.border-image {
  border-radius: 30% 70% 37% 63% / 30% 30% 70% 70%;
}
